  <!--  Footer / contact section -->

  <!-- class to ensure bottom position of the footer -->
  <footer class="mt-auto">
    <div class="container-fluid">
      <!-- Footer -->
      <div class="row d-flex align-items-center p-2">
        <!-- Contact section -->
        <div class="col-9 col-lg-6 order-lg-2">
            <div id="address" class="d-flex flex-column flex-lg-row gap-lg-3">
              <div><span class="text-nowrap"><i class="fa-solid fa-house"></i>Wien, Österreich</span></div>
              <div><span class="text-nowrap"><i class="fa-regular fa-paper-plane"></i>dianavizvary.art-gmail.com</span></div>
              <div><span class="text-nowrap"><i class="fa-solid fa-phone"></i>+43 699 19177614</span></div>
            </div>
        </div>
        <div class="col-3 col-lg-3 order-lg-3">
            <div id="contact">
              <a routerLink="/contact" class="custom-btn btn-hl-secondary-color">Kontakt</a>
            </div>
        </div>
        <!-- CD section -->
        <div class="col-12 col-lg-3 flex d-flex justify-content-center align-items-center text-center cd-container py-3 pt-md-0 pb-md-3 order-lg-1">
          <div id="cd">
          </div>
        </div>
      </div>
      <div class="m-0">
        <p class="text-center m-0 pt-2">Diana Vizváry <i class="fa-regular fa-copyright"></i> 2025</p>
      </div>

    </div>
  </footer>

