  <!--  Footer / contact section -->

  <!-- class to ensure bottom position of the footer -->
  <footer class="mt-auto">
    <div class="container-fluid">
      <!-- Footer -->
      <div class="row d-flex align-items-center p-2">
         <!-- Links section -->
         <!-- <div class="col-12 col-lg-4"> -->
          <!-- Navlinks -->
          <!-- <div id="nav-links" class="col-12">
            <a href="index.html" aria-label="Visit Diana's home page"
              rel="noopener">Home</a>
            <a href="about.html" aria-label="Visit Diana's about page"
              rel="noopener">About</a>
            <a href="coaching.html" aria-label="Visit Diana's coaching page"
              rel="noopener">Coaching</a>
            <a href="booking.html" aria-label="Sign up form for Diana's Newsletter"
              rel="noopener">Book</a>
          </div> -->
          <!-- Socials -->
          <!-- <div id="socials" class="col-12"> -->
            <!-- <a href="https://www.youtube.com/" target="_blank" aria-label="Visit Diana's youtube page, opens in a new tab"
              rel="noopener"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com/" target="_blank" aria-label="Visit Diana's instagram page, opens in a new tab"
              rel="noopener"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank" aria-label="Visit Diana's facebook page, opens in a new tab"
              rel="noopener"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://x.com/?&" target="_blank" aria-label="Visit Diana's twitter page, opens in a new tab"
              rel="noopener"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank" aria-label="Send Diana a whatsapp, opens in a new tab"
              rel="noopener"><i class="fa-brands fa-whatsapp"></i></a> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- Contact section -->
        <div class="col-9 col-lg-6 order-lg-2">
            <div id="address" class="d-flex flex-column flex-lg-row gap-lg-3">
              <div><span class="text-nowrap"><i class="fa-solid fa-house"></i>Wien, Österreich</span></div>
              <div><span class="text-nowrap"><i class="fa-regular fa-paper-plane"></i>dianavizvary.artadgmail.com</span></div>
              <div><span class="text-nowrap"><i class="fa-solid fa-phone"></i>+43 699 19177614</span></div>
            </div>
        </div>
        <div class="col-3 col-lg-3 order-lg-3">
            <div id="contact">
              <a href="contact.html" class="custom-btn btn-hl-secondary-color">Kontakt</a>
            </div>
        </div>
        <!-- CD section -->
        <div class="col-12 col-lg-3 flex d-flex justify-content-center align-items-center text-center cd-container py-3 pt-md-0 pb-md-3 order-lg-1">
          <div id="cd">
          </div>
        </div>
        
        

       
      </div>
      <div class="m-0">
        <p class="text-center m-0 pt-2">Diana Vizváry <i class="fa-regular fa-copyright"></i> 2025</p>
      </div>

    </div>
  </footer>

