span {
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: none;
}

#cd {
    transition: ease-in-out 0.3s;
}

#cd:hover {
    transform: scale(1.1);
}

#cd i {
    color: var(--highlight-tertiary-color);
}

#a-footer {
    text-transform: none;
    font-size: 1rem;
    text-decoration: underline;
    transition: ease-in-out 0.3s;
}
#a-footer:hover {
    text-transform: none;
    font-size: 1rem;
    color: var(--highlight-secondary-color);
}

/* Media queries */
/* Small devices (mobile, 576px and up*/
@media screen and (min-width: 576px) {
    span {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up*/
@media screen and (min-width: 768px) {

}

/* Large devices (small laptops, 992px and up*/
@media screen and (min-width: 992px) {
    span {
        font-size: 0.9rem;
    }
    .contact-middle-links {
        transition: transform 0.4s ease-in-out, font-size 0.4s ease-in-out; 
    }
    
    .contact-middle-links:hover, 
    .contact-middle-links span:hover {
        transform: scale(1.2);
        color: var(--highlight-secondary-color);
    }
}

/* Extra large devices (laptops, 1400px and up*/
@media screen and (min-width: 1200px) {
 
    span {
        font-size: 1rem;
    }
    .contact-middle-links:hover, 
    .contact-middle-links span:hover {
        transform: scale(1.1);
        color: var(--highlight-secondary-color);
    }

}

/* Extra large devices (laptops, 1400px and up*/
@media screen and (min-width: 1400px) {
 
    span {
        font-size: 1.2rem;
    }

}