span {
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: none;
}

.contact-middle-links {
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out; /* Smooth transition for transform and font size */
  }
  
  .contact-middle-links:hover {
    transform: scale(1.5) translateY(-30px); /* Slightly enlarges the whole link (icon + text) */
  }

/* Media queries */


/* Small devices (mobile, 576px and up*/
@media screen and (min-width: 576px) {
    span {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up*/
@media screen and (min-width: 768px) {

}

/* Large devices (small laptops, 992px and up*/
@media screen and (min-width: 992px) {
    span {
        font-size: 0.9rem;
    }
}

/* Extra large devices (laptops, 1400px and up*/
@media screen and (min-width: 1200px) {
 
    span {
        font-size: 1rem;
    }

}

/* Extra large devices (laptops, 1400px and up*/
@media screen and (min-width: 1400px) {
 
    span {
        font-size: 1.2rem;
    }

}