<main>

    <!-- Hero (1) -->
    <section id="hero" class="container-fluid m-0">
      <div class="row align-items-center mb-0">
        <!-- Intro  -->
        <div id="hero-intro" class="col-12 col-md-8 mb-0">
          <h1 class="block-title hl-primary-color-title mb-4 text-center">Willkommen in meiner Welt der Musik!</h1>
          <p class="mb-4 text-end text-sm-center">Mein Name ist Diana Vizváry und ich lebe in Wien, der Hauptstadt der klassischen Musik.<br>Ich bin Konzertpianistin, Musikcoach, Sängerin, Sprecherin sowie Kunst- und Kulturaktivistin.<br>Musik ist zentraler Bestandteil meines Lebens - sie war es von Anfang an. Alles begann in Bratislava...</p>
          <h2 class="block-title hl-secondary-color-title text-end text-sm-center">nein... stop!</h2>       
        </div>
        <!-- Imgage -->
        <div class="col-12 col-md-4 align-items-center">
          <div id="about-hero-image"></div>
        </div>
      </div>
    </section>

   <section id="carreer" class="container-fluid">
      <!-- 2 -->
      <div class="row">
        <div class="col-12 d-flex flex-wrap">
          <div id="carreer-foto-2" class="col-12 col-md-6"></div>
          <div class="col-12 col-md-6 text-center text-md-start d-flex flex-column justify-content-center p-1 p-md-3 p-lg-5">
            <p class="p-1 py-2"><b>Alles begann bereits im Bauch meiner Mutter</b>, während meine Eltern in Krakau bei einem der bedeutendsten Klavierpädagogen ihrer Zeit, <b>Prof. Ludwik Stefański</b>, studierten. Ich wurde in eine der <b>musikalisch stärksten Familien der Slowakei</b>  hineingeboren - mit <b>Musik als natürlicher Muttersprache</b>. Mit <b>fünf Jahren</b> ergriff ich das Klavier und entdeckte darin <b>meine tiefste Verbindung zur Welt</b>. Schon bald wurde ich als <b>Wunderkind gefeiert</b>, gewann <b>nationale Wettbewerbe</b> - nicht nur im <b>Klavierspiel</b>, sondern auch im <b>Gesang und in der Rezitation</b>.</p>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="row">
        <div class="col-12 d-flex flex-wrap-reverse">
          <div class="col-12 col-md-6 text-center text-md-end d-flex flex-column justify-content-center p-1 p-md-3 p-lg-5">
            <!-- <h1 class="coursive-title tertiary-color-title mb-0">Coach</h1>
            <h2 class="block-title hl-secondary-color-title">Guiding the Next Generation</h2> -->
            <p class="p-1 py-2">Ich begann mein <b>Klavierstudium</b> am <b>Konservatorium</b> in <b>Bratislava</b> und setzte es später an der  
              <b>Universität für Musik und darstellende Kunst</b> in <b>Wien</b> fort, wo ich mein <b>Konzertfach-Klavierstudium</b> mit  
              <b>Diplom</b> und <b>Auszeichnung</b> abschloss.  
              
              Schon während des <b>Studiums</b> durfte ich <b>europaweit</b> mit <b>renommierten Orchestern</b> auftreten und  
              <b>internationale Wettbewerbe</b> gewinnen – jedes <b>Konzert</b>, jede <b>Begegnung</b>, jede <b>Herausforderung</b> hat mich  
              tiefer in die <b>Welt der Musik</b> geführt.  
              
              Doch hinter dem <b>Glanz</b> stand viel <b>Verantwortung</b>, <b>Erwartungsdruck</b> und <b>Selbstzweifel</b>.
            </p> 
          </div>
          <div id="carreer-foto-3" class="col-12 col-md-6"></div>
        </div>
      </div>
      <!-- 4 -->
      <div class="row">
        <div class="col-12 d-flex flex-wrap">
          <div id="carreer-foto-4" class="col-12 col-md-6"></div>
          <div class="col-12 col-md-6 text-center text-md-start d-flex flex-column justify-content-center p-1 p-md-3 p-lg-5">
            <p class="p-1 py-2">Ich erinnere mich noch <b>lebhaft</b> an die Zeit meiner <b>Vorbereitung</b> auf den <b>Bedřich-Smetana-Klavierwettbewerb</b>. Plötzlich stand ich vor einer <b>Lernblockade</b>. Ein <b>Klavierstück</b> wollte sich einfach nicht <b>einprägen</b>. Trotz <b>intensiver Bemühungen</b> und <b>beharrlicher Übung</b> musste ich mich schließlich für ein <b>anderes Werk</b> entscheiden. Tief im Inneren <b>hinterfragte</b> ich oft meinen <b>Weg</b>. Dank der <b>Unterstützung</b> meiner <b>Familie</b> und meiner <b>Lehrer</b> sowie meinem <b>sonnigen Gemüt</b> und der <b>Gabe</b>, nicht <b>aufzugeben</b>, machte ich <b>weiter</b>. Bei dem erwähnten <b>Klavierwettbewerb</b> gewann ich übrigens den <b>ersten Preis</b>.  
            </p>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="row">
        <div class="col-12 d-flex flex-wrap-reverse">
          <div class="col-12 col-md-6 text-center text-md-end d-flex flex-column justify-content-center p-md-3 p-lg-5">
            <p class="p-1 py-2">
              Ich habe die <b>Bühne</b> und die <b>Auftritte</b> immer sehr genossen. Gleichermaßen hat mir das <b>Unterrichten</b>, mit dem ich sehr früh begonnen habe – schon am <b>Konservatorium</b> – viel Spaß gemacht. Dennoch fühlte ich mich nicht ganz <b>erfüllt</b>.  <br><br>
              
              Es fehlte etwas. Nur <b>was</b>? <br><br>  Der wahre <b>Wendepunkt</b> kam nicht auf der <b>Bühne</b>, sondern <b>in mir selbst</b>.  Ich erkannte, dass meine <b>Leidenschaft</b> für Musik nicht im <b>individuellen Erfolg</b> gipfelt, sondern in der <b>Kraft</b>, andere zu <b>inspirieren</b> und zu <b>unterstützen</b>. Der Wunsch, <b>Menschen</b> durch Musik zu <b>verbinden</b> und zu <b>stärken</b>, wurde mein neuer <b>Kompass</b>. </p>
          </div>
          <div id="carreer-foto-5" class="col-12 col-md-6"></div>
        </div>
      </div>    
      <!-- 6 -->
      <div class="row">
        <div class="col-12 d-flex flex-wrap">
          <div id="carreer-foto-6" class="col-12 col-md-6"></div>
          <div class="col-12 col-md-6 text-center text-md-start d-flex flex-column justify-content-center p-1 p-md-3 p-lg-5">
            <p class="p-1 py-2">Ich gründete den Verein <b>„KeineKultur.Kunst“</b>, um <b>Künstlerinnen und Künstler</b> unterschiedlichster <b>Herkunft</b>, <b>Disziplin</b> und <b>Generation</b> zu vernetzen. <b>Kunst</b> ist eine <b>universelle Sprache</b> – sie <b>baut Brücken</b>, <b>heilt</b>, <b>vereint</b> und <b>schenkt Sinn</b>. 
            </p>
          </div>
        </div>
      </div>
      <!-- 7 -->
      <div class="row">
        <div class="col-12 d-flex flex-wrap-reverse">
          <div class="col-12 col-md-6 text-center text-md-end d-flex flex-column justify-content-center p-md-3 p-lg-5">
              <p class="p-1 py-2">Heute stehe ich mit <b>ganzer Seele</b> als <b>Kulturschaffende</b>, als <b>Künstlerin</b> und als <b>Musikcoach</b> im Leben. Ich begleite <b>Musiker</b> auf ihrem Weg, teile mein <b>Wissen</b>, meine <b>Erfahrungen</b> und meine <b>Begeisterung</b> – und öffne Räume für <b>Austausch</b>, <b>Entfaltung</b> und <b>Tiefe</b>.  <br>Die <b>Musik</b> ist und bleibt mein <b>Zuhause</b>. Doch heute ist dieses Zuhause ein <b>offener Ort</b> für alle, die ihre <b>Kraft</b>, ihre <b>Stimme</b> und ihre <b>Freude</b> darin entdecken wollen.</p>
          </div>
          <div id="carreer-foto-7" class="col-12 col-md-6"></div>
        </div>
      </div>  
    </section>
    

    <!-- Culture Management -->
    <section id="about-relevant-info" class="container-fluid">
      <div class="row text-center p-2 py-3 py-xl-5">
        <div class="col-12 p-1 p-md-3 px-3 p-xl-5">
          <h2 class="block-title hl-secondary-color-title">Musik verändert. Musik verbindet. Musik heilt.</h2>
          <p class="">Wie schon Platon sagte: <i>„Musik gibt dem Universum Seele“</i> (auch den Menschen).
          </p>
          <p class="">Wenn ich Dich in irgendeiner Weise angesprochen habe, freue ich mich, <a href="contact.html">von dir zu hören</a>.
          </p>
          <p class="">Mit herzlichen musikalischen Grüßen,<br>
            Deine Diana
          </p>
          <p class="">P.S. Mein tiefstes Dank gehört meinen Lehrern, die mich begleitet haben und mir geholfen haben: <br>
            Gabriela Holičová, Carmen Adnet-Graf, Katarína Dibáková, Peter Efler, Lazar Berman, Marialena Fernandes, Avedis Kouyoumdjian.</p>
        </div>
        <div class="row text-center justify-content-center m-0 p-0">
          <div id="carreer-foto-8" class="flex position-relative">
          <div class="position-absolute bottom-0 start-0">
              <p class="overlay m-0 p-2">Es gibt noch eine, für mich <b>die wichtigste Person</b>, die immer an mich geglaubt, mich unterstützt hat und mich über alles liebte:<br><br> Diese Person war <b>mein Vater MEIN VATER - Mgr. Jozef Vizvári</b>.<br>
              <b>Papa, ich DANKE Dir aus tiefsten Herzen FÜR ALLES!</b> <br><br>
              Ich schicke dir innige Umarmungen in den Himmel. Ich liebe Dich über alles!
              </p> 
          </div>
        </div>
        </div>
    </div>
    </section>

  </main>