.contact-inline {
    position: relative; 
    display: inline-block;
}

.contact-inline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 0.1px;
    background-color: var(--highlight-secondary-color); 
    transition: width 0.3s ease-in-out; 
}

.contact-inline:hover::after {
    width: 100%; 
}