.my-card {
    border: solid 2px var(--highlight-secondary-color);
    padding: 1rem;
    min-height: 360px;
    min-width: 80vw;
    max-width: 80vw;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
    position: relative;
    margin-top: 4rem;
  }

  .fa-solid {
    color: var(--highlight-primary-color);
    font-size: 0.8rem;
  }
  
  .phrase {
    color: var(--secondary-color);
    font-size: 1rem;
  }
  
  .author {
    color: var(--highlight-primary-color);
    font-size: 1.2rem;
  }
  
 
  /* Rotation effect by default */
  .x-rotate {
    transform: perspective(700px) rotateX(45deg);
    /* box-shadow: rgba(244, 3, 91, 0.305) 0px 8px 16px; */
  }

  /* Straight state when in active viewpoint */
  .straight {
    transform: perspective(500px) rotateX(0deg);
  }

  @media screen and (min-width: 578px) {
    .my-card {
      min-height: 290px;
    }
  }

  @media screen and (min-width: 768px) {
    .my-card {
      min-height: 250px;
    }
    .phrase {
      color: var(--secondary-color);
      font-size: 1.2rem;
    }
  }
  
  /* Large devices (small laptops, 992px and up*/
  @media screen and (min-width: 992px) {
    .my-card {
      min-height: 200px;
    }
      
  }
  
  /* Extra large devices (laptops, 1400px and up*/
  @media screen and (min-width: 1200px) {
   
     
  
  }
  
  /* Extra large devices (laptops, 1400px and up*/
  @media screen and (min-width: 1400px) {
   
  
  }