<main class="m-0">

    <div class="row g-2 py-4">
        <div class="col-12 text-center">
          <h1 class="block-title hl-primary-color-title pb-2">gedanken, die mich inspirieren</h1>
        </div>
        <div *ngFor="let quote of quotes; let i = index" class="col-12 d-flex justify-content-center text-center">
          <div #cardElem class="my-card x-rotate d-flex flex-column justify-content-center" [ngClass]="{
            'straight': visibleStates[i],
            'x-rotate': !visibleStates[i]
          }">
            <p class="phrase">
              <i><i class="fa-solid fa-quote-left"></i> {{ quote.phrase }} <i class="fa-solid fa-quote-right"></i></i>
            </p>
            <p class="author">{{ quote.author }}</p>
          </div>
        </div>        
    </div>

    
</main>
