<header>
    <div class="nav-container">
      <!-- Logo / Home Link -->
      <div class="static-navbar">
        <a (click)="goHome()">
          <img id="logo"  [ngClass]="{
            'scrolled': !isHomePage && hasScrolled || (isHomePage && hasScrolled)
          }" src="assets/images/logo.png" alt="Diana Vizvary">
        </a>
      </div>
  
      <!-- Nav Section -->
      <nav [ngClass]="{ 'show': isMenuOpen }" id="links">
        <ul class="static d-flex align-items-center">
          <li><a routerLink="/about" (click)="closeMenu()" class="navbar-link text-nowrap">Über mich</a></li>
  
          <div class="dropdown navbar-link" *ngIf="!isOnProfilePage">
            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              PROFIL
            </button>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/profile', 'kulturaktivistin']" (click)="closeMenu()" class="dropdown-item">Kurltur Aktivistin</a></li>
              <li><a [routerLink]="['/profile', 'pianistin']" (click)="closeMenu()" class="dropdown-item">Pianistin</a></li>
              <li><a [routerLink]="['/profile', 'coach']" (click)="closeMenu()" class="dropdown-item">Coach</a></li>
              <li><a [routerLink]="['/profile', 'singer']" (click)="closeMenu()" class="dropdown-item">Sängerin</a></li>
              <li><a [routerLink]="['/profile', 'speaker']" (click)="closeMenu()" class="dropdown-item">Sprächerin</a></li>
            </ul>
          </div>
  
          <li><a routerLink="/reflections" (click)="closeMenu()" class="navbar-link">Reflexionen</a></li>
          <li><a routerLink="/contact" (click)="closeMenu()" class="navbar-link">Kontakt</a></li>
        </ul>
      </nav>
  
      <!-- Toggle Button -->
      <div class="toggle"  id="toggle-menubar-btn" (click)="toggleMenu()">
        <img id="menu-icon" [src]="isMenuOpen ? 'assets/icons/asterisk-icon.png' : 'assets/icons/burger-icon.png'"
             [ngClass]="{ rotated: isMenuOpen }"
             alt="Toggle button to display the dropdown menu">
      </div>
    </div>
</header>
