.accordion-button,
.carousel-control-next, 
.carousel-control-prev  {
    z-index: 0;
}

.col-12 h2 {
    font-weight: 200;
    color: var(--tertiary-color);
}

.accordion-button {
    background-color: var(--highlight-primary-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.outer {
    border-top: 2px solid var(--highlight-secondary-color);
    border-bottom: 2px solid var(--highlight-secondary-color);

}

.inner {
    border: 2px solid var(--highlight-secondary-color);
}


.accordion-button:focus,
.accordion-button:active {
    box-shadow: none !important; 
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important; /* Also prevent it when expanded */
    color: var(--primary-color);
}

.accordion-body {
    background-color: var(--secondary-color) !important;
}

.video-links a {
    display: block;
    color: var(--tertiary-color);
}

.carousel {
    border-radius: 2.5rem;
}

.carousel-profile-section .carousel-inner {
    border-radius: 2.5rem;
    background-color: var(--highlight-primary-color);
    border: solid 2px var(--highlight-primary-color);
}

/* Carousel for profile pics display */
.carousel-item img {
    height: 280px;
    border-radius: 2.5rem;
    position: relative;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}

/* project carousel caption */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.781);
    font-family: var(--tertiary-font);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 2.5rem 2.5rem;
}

.carousel-caption p {
    margin-bottom: 0;
}   

@media screen and (min-width: 576px) {

    .carousel-item img {
        height: 400px;
    }

}

@media screen and (min-width: 768px) {

    .carousel-item img {
        height: 370px;
    }
}

@media screen and (min-width: 992px) {


}

@media screen and (min-width: 1200px) {


}

@media screen and (min-width: 1400px) {

}