<main>

    <!-- Request Booking -->
    <section id="relevant-info" class="container-fluid">
        <div class="row p-3">
            <div class="col-12 p-1 py-4 text-center">
                <p class="secondary-color-title"><i>Wenn ich Dich in irgendeiner Weise angesprochen habe, freue ich mich, von dir zu hören</i><p>
            </div>

            <form class="sharp-corners pb-4 px-lg-5 px-xl-6" action="" method="">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="name" class="form-label secondary-color-title">Name:</label>
                        <input class="form-control" id="name" name="name" type="text" required>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="email" class="form-label secondary-color-title">Email:</label>
                        <input class="form-control" id="email" name="email" type="email" required>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="subject" class="form-label secondary-color-title">Subject:</label>
                        <input class="form-control" id="subject" name="subject" type="text" required>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="phone" class="form-label secondary-color-title">Phone number (optional):</label>
                        <input class="form-control" id="phone" name="phone" type="number">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="message" class="form-label secondary-color-title">Message:</label>
                        <textarea class="form-control" rows="6" id="message" name="message" required></textarea>
                    </div>
                    <div class="col-12 mb-3 text-center">
                        <!-- Button trigger modal -->
                        <button type="submit" class="custom-btn btn-hl-tertiary-color">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

</main>
