<main>

    <!-- Request Booking -->
    <section id="relevant-info" class="container-fluid">
        <div class="row p-3">
            <div class="col-12 p-1 py-4 text-center">
                <p class="secondary-color-title"><i>Wenn ich Dich in irgendeiner Weise angesprochen habe, freue ich mich, von dir zu hören</i><p>
            </div>

            <form class="sharp-corners pb-4 px-lg-5 px-xl-6"  (submit)="sendEmail($event)" method="POST">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="name" class="form-label secondary-color-title">*Name:</label>
                        <input class="form-control" id="name" name="name" type="text" required>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="email" class="form-label secondary-color-title">*Email:</label>
                        <input class="form-control" id="email" name="reply_to" type="email" required>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="subject" class="form-label secondary-color-title">*Betreff:</label>
                        <input class="form-control" id="subject" name="subject" type="text" required>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label for="phone" class="form-label secondary-color-title">Telefonnumer:</label>
                        <input class="form-control" id="phone" name="phone" type="number">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="message" class="form-label secondary-color-title">*Nachricht:</label>
                        <textarea class="form-control" rows="6" id="message" name="message" required></textarea>
                    </div>
                    <div class="col-12 mb-3 text-center">
                        <p class="small mt-2 text-light">
                            Mit dem Absenden stimmst du unserer <a class="ps-color link-inline" routerLink="/rechtliches" target="_blank">Datenschutzerklärung</a> zu.
                        </p>
                    </div>
                    <div class="col-12 mb-3 text-center">
                        <!-- Button trigger modal -->
                        <button type="submit" class="custom-btn btn-hl-tertiary-color">senden</button>
                    </div>
                </div>
            </form>
            <!-- Spinner for loading -->
            <div *ngIf="isSendingEmail" class="spinner d-flex justify-content-center mb-3">
                <div class="spinner-border text-light" role="status">
                   <span class="visually-hidden">Sending...</span>
                </div>
            </div>
        </div>
    </section>


    

    <!-- Success Modal -->
    <div class="modal fade modal-font" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center p-3 rounded-4">
          <div class="modal-header border-0">
          <h5 class="modal-title" id="successModalLabel">Danke für deine Nachricht!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
        </div>
        <div class="modal-body">
          <p class="mb-4">Ich melde mich so bald wie möglich bei dir.</p>
        </div>
      </div>
    </div>
  </div>

</main>
