
h2 {
    text-align: end;
}

h3 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
}

p {
    color: var(--secondary-color);
}

.profiles {
    max-width: 98vw;
}


/* Carousel for profile pics display */
.carousel-item.profile-pictures {
    min-height: 290px;
    border-radius: 2.5rem;
    background-color: var(--highlight-primary-color);
    position: relative;
    z-index: 0;
}

button {
    z-index: 0;
}

.media-card {
    border: solid 2px var(--highlight-primary-color);
    border-radius: 2.5rem;
    margin-bottom: 1rem;
}

/* Carousel for profile pics display */
.carousel-item.media-samples{
    min-height: 182px;
    border-radius: 2.5rem;
    position: relative;
    z-index: 0;
}


i {
    color: var(--highlight-secondary-color);
    padding: 1.5rem;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    border: 2.5px solid var(--highlight-secondary-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.rotating {
    animation: spin 8s linear infinite;
}

  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media screen and (min-width: 576px) {

    .carousel-item.profile-pictures {
        min-height: 400px;
    }

    .profiles {
    max-width: 75vw;
    }
}

@media screen and (min-width: 768px) {

    h3 {
        font-size: 1.5rem;
    }
    .carousel-item.profile-pictures {
        min-height: 550px;
    }

    .profiles {
    max-width: 75vw;
    }
}

@media screen and (min-width: 992px) {
    h2 {
        text-align: start;
    }
    
    h3 {
        text-align: start;
    }

    
    .carousel-item.profile-pictures {
        min-height: 370px;
    }

    .profiles,
    .media {
    max-width: 80vw;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-item.profile-pictures {
        min-height: 450px;
    }

    .profiles,
    .media {
    max-width: 75vw;
    }
}

@media screen and (min-width: 1400px) {
    .carousel-item {
        min-height: 500px;
    }

    .profiles,
    .media {
    max-width: 75vw;
    }
}
