<main>

    <!-- Category Intro -->
    <section class="container-fluid d-flex m-0 align-items-center justify-content-center">
        <div class="profiles row d-flex align-items-center justify-content-center py-sm-5">
            <!-- Carousel  -->
            <div id="carousel" class="col-12 col-lg-6">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Titles and Subtitles  -->
            <div class="col-12 col-lg-6 profile-title py-2">
                <h2 id="profile-title" class="block-title hl-secondary-color-title pb-3">Kultur Aktivistin</h2>
                <h3>Subtitle</h3>
            </div>
            <!-- Text  -->
            <div class="col-12 py-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas qui sint facere ipsam repellendus perspiciatis. Fuga officiis unde modi laborum sit! Illum officia voluptas consequuntur est exercitationem sapiente laboriosam pariatur?</p> 
            </div>
        </div>
    </section>

    <!-- Media -->
    <section class="container-fluid d-flex m-0 align-items-center justify-content-center">
        <div class="profiles row d-flex align-items-center justify-content-center py-sm-5">
            <div class="col-12 py-4">
                <h2 class="block-title hl-secondary-color-title py-2">Media</h2>
                <p>To connect with your inner strength, it will give you the confidence to deliver powerful,
                    authentic performances.</p>
            </div>
        </div>
    </section>

</main>
