.carousel-item {
    min-height: 290px;
    border-radius: 2.5rem;
    background-color: var(--highlight-primary-color);
    position: relative;
    z-index: 0;
}

h2 {
    text-align: end;
}

h3 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
}

p {
    color: var(--secondary-color);
}

.profiles,
.media {
    max-width: 98vw;
}

@media screen and (min-width: 576px) {

    .carousel-item {
        min-height: 400px;
    }

    .profiles,
    .media {
    max-width: 75vw;
    }
}

@media screen and (min-width: 768px) {

    h3 {
        font-size: 1.5rem;
    }
    .carousel-item {
        min-height: 550px;
    }

    .profiles,
    .media {
    max-width: 75vw;
    }
}

@media screen and (min-width: 992px) {
    h2 {
        text-align: start;
    }
    
    h3 {
        text-align: start;
    }

    
    .carousel-item {
        min-height: 370px;
    }

    .profiles,
    .media {
    max-width: 80vw;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-item {
        min-height: 450px;
    }

    .profiles,
    .media {
    max-width: 75vw;
    }
}

@media screen and (min-width: 1400px) {
    .carousel-item {
        min-height: 500px;
    }

    .profiles,
    .media {
    max-width: 75vw;
    }
}
