<main>

    <!-- Category Intro -->
    <section class="container-fluid d-flex m-0 align-items-center justify-content-center">
        <div class="profiles row d-flex align-items-center justify-content-center py-sm-5">
            <!-- Carousel  -->
            <div id="carousel-pic-section" class="col-12 col-lg-6">
                <div id="picturesCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item profile-pictures active">
                            <img src="assets/images/uber-diana-4.jpg" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item profile-pictures">
                            <img src="assets/images/uber-diana-3.jpg" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#picturesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#picturesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <!-- Titles and Subtitles  -->
            <div class="col-12 col-lg-6 profile-title py-2">
                <h2 id="profile-title" class="block-title hl-secondary-color-title pb-3">Kultur Aktivistin</h2>
                <h3>Subtitle</h3>
            </div>
            <!-- Text  -->
            <div class="col-12 py-2 text-justify">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, facere modi exercitationem esse provident ratione itaque. Maiores quam inventore repellendus incidunt doloribus omnis corrupti excepturi laudantium, eligendi cupiditate sed totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, facere modi exercitationem esse provident ratione itaque. Maiores quam inventore repellendus incidunt doloribus omnis corrupti excepturi laudantium, eligendi cupiditate sed totam. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit, cumque cupiditate porro voluptas libero sed! Maiores, itaque? Illo delectus enim ab sint sequi quae deserunt officia. Doloribus, voluptate perferendis!<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit, cumque cupiditate porro voluptas libero sed! Maiores, itaque? Illo delectus enim ab sint sequi quae deserunt officia. Doloribus, voluptate perferendis!</p>
            </div>
        </div>
    </section>

    <!-- Media -->
    <section class="container profiles pb-4">
        <div class="row">
            <div class="col-12 pb-3 text-center">
                <h2 class="block-title hl-secondary-color-title pb-3 text-center">Media</h2>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center">AUDIO</p>
                <div id="audioCarousel" class="carousel slide">
                    <div class="carousel-inner media-card">
                      <div class="media-samples carousel-item active">
                        <div class="carousel-caption">
                          <div class="d-flex flex-column align-items-center justify-content-center" (click)="toggleAudio(audioElementRef.nativeElement, $event)">
                            <i class="fa-solid" [ngClass]="isPlaying ? 'fa-pause rotating' : 'fa-play'"></i>
                            <p class="mb-0 pt-2">Nocturne in C sharp minor 'Lento con gran espressione', B. 49</p>
                            <p class="mb-0">F. Chopin</p>
                          </div>
                          <audio #audio1 src="assets/media/prueba.mp3"></audio>
                        </div>
                      </div>
                      <div class="media-samples carousel-item">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-solid fa-play"></i>
                            <p class="mb-0 pt-2">Title2</p>
                            <p class="mb-0">Author</p>
                          </div>
                        </div>
                      </div>
                      <div class="media-samples carousel-item">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-solid fa-play"></i>
                            <p class="mb-0 pt-2">Title3</p>
                            <p class="mb-0">Author</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#audioCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#audioCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center">VIDEO</p>
                <div id="videoCarousel" class="carousel slide">
                    <div class="carousel-inner media-card">
                      <div class="media-samples carousel-item active">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center" (click)="openVideoModal('../../assets/media/sample.mp4')"
                          style="cursor: pointer;">
                            <i class="fa-solid fa-film"></i>
                            <p class="mb-0 pt-2">Cielito lindo</p>
                            <p class="mb-0">Quirino Mendoza y Cortés</p>
                          </div>
                        </div>
                      </div>
                      <div class="media-samples carousel-item">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-solid fa-film"></i>
                            <p class="mb-0 pt-2">Title2</p>
                            <p class="mb-0">Author</p>
                          </div>
                        </div>
                      </div>
                      <div class="media-samples carousel-item">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-solid fa-film"></i>
                            <p class="mb-0 pt-2">Title3</p>
                            <p class="mb-0">Author</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center">YOUTUBE</p>
                <div id="linksCarousel" class="carousel slide">
                    <div class="carousel-inner media-card">
                      <div class="media-samples carousel-item active">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <a target="_blank" href="https://www.youtube.com/watch?v=Les39aIKbzE&ab_channel=greatclassicrecords"><i class="fa-brands fa-youtube"></i></a>
                            <p class="mb-0 pt-2">Adagietto Symphony 5 – Karajan:</p>
                            <p class="mb-0">G. Mahler</p>
                          </div>
                        </div>
                      </div>
                      <div class="media-samples carousel-item">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-brands fa-youtube"></i>
                            <p class="mb-0 pt-2">Title2</p>
                            <p class="mb-0">Author</p>
                          </div>
                        </div>
                      </div>
                      <div class="media-samples carousel-item">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-brands fa-youtube"></i>
                            <p class="mb-0 pt-2">Title3</p>
                            <p class="mb-0">Author</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#linksCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#linksCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <div class="video-modal" *ngIf="showVideoModal" (click)="closeVideoModal()">
        <div class="video-modal-content" (click)="$event.stopPropagation()">
          <button class="btn-close" (click)="closeVideoModal()" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
          <video
            *ngIf="selectedVideoUrl"
            [src]="selectedVideoUrl"
            controls
            autoplay
            class="video-player"
          ></video>
        </div>
    </div>
    

</main>
