<main>

  <!-- Profile Navigation -->
  <div class="container-fluid d-flex flex-wrap profile-nav justify-content-between align-items-center text-center">
    <div class="profile-link first">
      <a href="#">Kultur Aktivistin</a>
    </div>
    <div class="profile-link">
      <a routerLink="/profile/pianistin">Pianistin</a>
    </div>
    <div class="profile-link">
      <a routerLink="/profile/coach">Coach</a>
    </div>
    <div class="profile-link">
      <a routerLink="/profile/singer">Sängerin</a>
    </div>
    <div class="profile-link">
      <a routerLink="/profile/speaker">Sprecherin</a>
    </div>
  </div>
    
    <!-- Category Intro -->
    <section class="container-fluid d-flex m-0 align-items-center justify-content-center">
        <div class="profiles row d-flex align-items-center justify-content-center py-sm-5">
            <!-- Carousel  -->
            <div id="carousel-pic-section" class="col-12 col-lg-6">
                <div id="picturesCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item profile-pictures" *ngFor="let image of profile?.images; let i = index" [class.active]="i === 0">
                              <!-- profile.img[i] src="(just a place holder at the moment)"-->
                            <img [src]="image.src" class="d-block w-100" [alt]="image.alt">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#picturesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#picturesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <!-- Titles and Subtitles  -->
            <div class="col-12 col-lg-6 profile-title py-2">
                <h2 id="profile-title" class="block-title hl-secondary-color-title pb-3">{{ profile?.title }}</h2>
                <h3>{{ profile?.subtitle }}</h3>
            </div>
            <!-- Text  -->
            <div class="col-12 py-2 text-justify">
              <p [innerHTML]="profile?.description"></p>
            </div>
        </div>
    </section>

    <!-- Media -->
    <section class="container profiles pb-4">
        <div class="row">
            <div class="col-12 pb-3 text-center">
                <h2 class="block-title hl-secondary-color-title pb-3 text-center">Media</h2>
            </div>
            <!-- Audio Section -->
             <!-- iterate available audios -->
            <div class="col-12">
                <p class="text-center m-0">AUDIO</p>
                <div id="audioCarousel" class="carousel slide">
                    <div class="carousel-inner media-card">
                      <div  *ngFor="let audio of profile?.audios; let i = index" class="media-samples carousel-item" [class.active]="i === 0">
                        <div class="carousel-caption">
                          <div class="d-flex flex-column align-items-center justify-content-center" (click)="toggleAudio(audioElementRef.nativeElement, $event)"
                          style="cursor: pointer;">
                            <i class="fa-solid" [ngClass]="isPlaying ? 'fa-pause rotating' : 'fa-play'"></i>
                            <p class="mb-0 pt-2">{{ audio.title }}</p>
                            <p class="mb-0">{{ audio.author }}</p>
                          </div>
                          <!-- src=audio.src -->
                          <audio #audioElement [src]="audio.src"></audio>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#audioCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#audioCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Video Section -->
             <!-- iterate available videos -->
            <div class="col-12 col-lg-6">
                <p class="text-center m-0 pt-2">VIDEO</p>
                <div id="videoCarousel" class="carousel slide">
                    <div class="carousel-inner media-card">
                      <div  *ngFor="let video of profile?.videos; let i = index" class="media-samples carousel-item" [class.active]="i === 0">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center" (click)="openVideoModal(video.src)"
                          style="cursor: pointer;">
                            <!-- url= 'video.url' -->
                            <i class="fa-solid fa-film"></i>
                            <p class="mb-0 pt-2">{{ video.title }}</p>
                            <p class="mb-0">{{ video.author }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Youtube Links Section -->
            <div class="col-12 col-lg-6">
                <p class="text-center m-0 pt-2">YOUTUBE</p>
                <div id="linksCarousel" class="carousel slide">
                    <div class="carousel-inner media-card">
                      <div *ngFor="let yt of profile?.youtubeLinks; let i = index" class="media-samples carousel-item" [class.active]="i === 0">
                        <div class="carousel-caption d-block">
                          <div class="d-flex flex-column align-items-center justify-content-center">
                            <!-- href="youtube.link" -->
                            <a target="_blank" [href]="yt.src"><i class="fa-brands fa-youtube"></i></a>
                            <p class="mb-0 pt-2">{{ yt.title }}</p>
                            <p class="mb-0">{{ yt.author }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#linksCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#linksCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Modal for Media Video's Section -->
    <div class="video-modal" *ngIf="showVideoModal" (click)="closeVideoModal()">
        <div class="video-modal-content" (click)="$event.stopPropagation()">
          <button class="btn-close" (click)="closeVideoModal()" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
          <video
            *ngIf="selectedVideoUrl"
            [src]="selectedVideoUrl"
            controls
            autoplay
            class="video-player"
          ></video>
        </div>
    </div>
    

</main>
