  <!-- main element to hold all key sections of the home page. It's not part of the grid structure -->
  <main id="hero-container">

    <!-- Hero -->
    <section id="hero" class="container-fluid justify-content-center align-items-center m-0">
      <div class="row align-items-center text-center text-md-start">
        <!-- Intro  -->
        <div id="hero-intro" class="px-2 px-lg-3 col-12 col-md-8">
          <div>
            <img id="home-logo" class="pb-3" src="assets/images/logo.png" alt="Diana Vizváry">
          </div>  
          <div class="cta-buttons flex-row d-flex gap-3 justify-content-center justify-content-md-start">
            <a [routerLink]="['/profile', 'pianistin']" class="custom-btn btn-hl-tertiary-color">Künstlerin</a>
            <a [routerLink]="['/profile', 'coach']" class="custom-btn btn-hl-primary-color">Coach</a>
            <a routerLink="#" class="custom-btn btn-hl-secondary-color">Visionärin</a>
          </div>
        </div>
        <!-- Imgage -->
        <div class="col-12 col-md-4 align-items-center pt-3">
          <div id="hero-image"></div>
        </div>
      </div>
    </section>

    

  </main>
